nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    color: #333;
    font-family: var(--header-font);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: .9;
}

.nav-logo span {
    display: flex;
    justify-content: space-between;
}

.nav-logo span p {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 5px;
    color: #00B38F;
}

.nav-list {
    list-style: none;
    display: flex;
    column-gap: 1rem;
}

.nav-list li a {
    color: #333;
    font-family: var(--header-font);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color .4s;
}

.nav-list li a:hover {
    color: #00B38F;
}

.nav-list li a.active-link {
    color: #00B38F;
}

.nav-button button {
    background-color: #00B38F;
    color: #fff;
    border: none;
    outline: none;
    padding: .75rem 1rem;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 10px;
    transition: background .4s;
}

.nav-button button:hover {
    background-color: #00876c;
}