.service-container {
    padding: 5rem 1rem 0 1rem;
}

.service-container h4 {
    color: #00B38F;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
}


.service-container h2 {
    font-family: var(--header-font);
    color: #333;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: center;
}

.service-container > p {
    font-size: .9rem;
    color: #3333339d;
    margin-bottom: 2rem;
    text-align: center;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 1rem;
}

.service-box {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.service-content {
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.service-description-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-description-img img {
    max-width: 60px;
    background-color: #00B38F;
    padding: .5rem;
    border-radius: 10px;
}

.service-card:nth-child(1) .service-description h3 {
    margin-bottom: .5rem;
    font-weight: 700;
    color: #333;
    font-family: var(--header-font);
    text-align: right;
}

.service-card:nth-child(3) .service-description h3{
    margin-bottom: .5rem;
    font-weight: 700;
    color: #333;
    font-family: var(--header-font);
    text-align: left;
}

.service-card:nth-child(3) .service-description p {
    font-weight: 400;
    font-size: .9rem;
    text-align: left;
}

.service-card:nth-child(1) .service-description p {
    font-weight: 400;
    font-size: .9rem;
    text-align: right;
}

.service-card picture img {
    max-width: 480px;
    margin-bottom: -5.2px;
}

.left {
    text-align: left;
}

/* Página Serviços */

.banner-services {
    background-image: url('./../img/banner-services.jpg');
    background-size: cover;
    background-position: 25% 25%;
    background-repeat: no-repeat;
    padding: 5rem 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .65;
    background-color: #333;
    z-index: 2;
}

.banner-services h1{
    z-index: 3;
    color: #fff;
    margin-bottom: 1rem;
}

.banner-services p {
    text-align: center;
    color: #ffffffc1;
    z-index: 3;
    max-width: 900px;
    line-height: 2;
    margin-bottom: 1rem;
}

.banner-services span {
    z-index: 3;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 40px;
    color: white;
    font-size: 25px;
}

.page-service > h4 {
    color: #00B38F;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.page-service > h2 {
    font-family: var(--header-font);
    color: #333;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: center;
}

.page-service-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.page-service-card {
    padding: 2rem 1rem;
    border: 3px solid #00B38F;
    border-radius: 10px;
    cursor: pointer;
    transition: border ease .5s, transform ease-in-out .4s;
    display: flex;
    flex-direction: column;
    row-gap: .6rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.page-service-card:hover {
    transform: scale(1.02);
    border: 3px solid #04e8ba;
}

.page-service-card picture {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-color: #00B38F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.page-service-card picture img {
    max-width: 60px;
}

.page-service-card h4 {
    color: #00B38F;
    font-size: 1rem;
    font-family: var(--header-font);
    font-weight: 600;
}

.page-service-card p {
    color: #333333bc;
    font-size: .85rem;
    font-weight: 400;
}

.page-service-card a {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
}

.page-service-card:hover a {
    color: #00B38F;
}

.page-service-card:hover picture{
    background-color:  #04e8ba;
}

.page-service-card:hover h4,
.page-service-card:hover a {
    color: #04e8ba;
}

.page-service-card:hover p {
    color: #333;
}

.page-service-card:hover {
    background-color: rgba(227, 227, 227, 0.445);
}

@media screen and (max-width: 1080px) {
    .page-service-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .page-service-grid {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .page-service-card {
        align-items: center;
        text-align: center;
        width: 65%;
        margin: 0 auto;
        padding: 3rem 1rem;
    }

    .service-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .service-card:nth-of-type(2) {
        display: none;
    }
}